<label>Filter By: </label>
<select [(ngModel)]='applesFilterSelected' (ngModelChange)="onFilterSelected()">
    <option *ngFor='let p of optionsList' [value] ='p.name'>
        {{p.name}}
    </option>
</select>
<select *ngIf='showGreaterLessThanSelect'>
    <option>></option>
    <option><</option>
</select>
<label *ngIf='showEqualTo'> = </label>
<label *ngIf='showNumberInput'>
    <input type="number" [formControl]="number">
</label>
<select *ngIf='showAttributeSelect' [(ngModel)]='attrFilterSelected'>
    <option *ngFor='let p of getAttributes()'>
        {{ p }}
    </option>
</select>
<button (click)="filter()">Filter</button>
<!-- <div>
    <select placeholder="SelectAttribute" (change)="changeOptions($event.target.value)">
        <option *ngFor ="let count of optionsList">{{count.name}} </option>
    </select>
</div>

<div>
    <select placeholder="AnyAttributes">
        <option *ngFor ="let attributes of attributes">{{attributes}} </option>
  </select>
</div>  -->

<!-- When a filter is selected, want to display attributes
If number attribute open a text dialog which number can be inputted in
If has selectable attributes create dropdown  -->