<label>Filter By: </label>
<select [(ngModel)]='applesFilterSelected' (ngModelChange)="onFilterSelected()">
    <option *ngFor='let p of optionsList' [value] ='p.name'>
        {{p.name}}
    </option>
</select>
<select *ngIf='showGreaterLessThanSelect' [(ngModel)]='operatorSelected'>
    <option>></option>
    <option><</option>
</select>
<label *ngIf='showEqualTo'> = </label>
<label *ngIf='showNumberInput'>
    <input type="number" [formControl]="number">
</label>
<select *ngIf='showAttributeSelect' [(ngModel)]='attrFilterSelected'>
    <option *ngFor='let p of getAttributes()'>
        {{ p }}
    </option>
</select>
<button (click)="filter()">Filter</button>
<button (click)="resetfilter()">Clear Search</button>