<div>
    
    <h2>Apple</h2>
    <!-- <p>{{ apple.id }}</p> -->
    <div *ngIf="infoPanelService.apple">
        <p><b>Tree Tag ID:</b> {{ infoPanelService.apple.id }}</p>
        <p><b>Genetics:</b> {{ infoPanelService.apple.genetics }}</p>
        <p><b>Species:</b> {{ infoPanelService.apple.species }}</p>
        <p><b>Final Cultivar:</b> {{ infoPanelService.apple.finalCultivar }}</p>
        <p><b>Tree Latitude:</b> {{ infoPanelService.apple.treeLatitude }}</p>
        <p><b>Tree Longitude:</b> {{ infoPanelService.apple.treeLongitude }}</p>
    </div>
</div>