html,
body {
    margin: 10em;
}

img {
    /* -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); */
    position: absolute;
    max-width: 100%;
    width: auto;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gallery {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 0px 3px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.infoPanel {
    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: larger;
}

.responsive {
    padding: 10px 0px;
    float: left;
    width: 48%;
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}